Source: ros-jazzy-adi-imu
Section: misc
Priority: optional
Maintainer: "Analog Devices" <Adrian.Stanea@analog.com>
Build-Depends: debhelper (>= 9.0.0), libiio-dev, ros-jazzy-ament-cmake, ros-jazzy-ament-cmake-gtest <!nocheck>, ros-jazzy-ament-cmake-lint-cmake <!nocheck>, ros-jazzy-ament-cmake-xmllint <!nocheck>, ros-jazzy-ament-copyright <!nocheck>, ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-ament-pep257 <!nocheck>, ros-jazzy-builtin-interfaces, ros-jazzy-geometry-msgs, ros-jazzy-rclcpp, ros-jazzy-rosidl-default-generators, ros-jazzy-sensor-msgs, ros-jazzy-std-msgs, ros-jazzy-ros-workspace, ros-jazzy-rosidl-typesupport-fastrtps-c, ros-jazzy-rosidl-typesupport-fastrtps-cpp
Homepage: https://analogdevicesinc.github.io/imu_ros2/
Standards-Version: 3.9.2

Package: ros-jazzy-adi-imu
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libiio-dev, ros-jazzy-ament-cmake, ros-jazzy-builtin-interfaces, ros-jazzy-geometry-msgs, ros-jazzy-rclcpp, ros-jazzy-rosidl-default-runtime, ros-jazzy-sensor-msgs, ros-jazzy-std-msgs, ros-jazzy-ros-workspace
Description: Publisher for ADI IMUs
